
.add-product-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .add-product-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0a6b53;
  }
  
  .add-product-form label {
    display:block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .add-product-form input,
  .add-product-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .add-product-form button {
    background-color: #0a6b53;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add-product-form button:hover {
    background-color: #0a6b53;
  }
  